.welcome-background {
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.welcome-title{
    font-family: 'Alata', sans-serif;
    color: white;
    text-align: center;
    font-size: 30px;
}